{% extends 'base.html.twig' %} 

{% block title %}Mooc.soluceapp.com{% endblock %}

{% block body %}

<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'fsecurity') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
    {% endif %}
<div style="margin:20px"><div class="style25">
    <h4 >Connectez-vous</h4>

    <label for="inputEmail">Identifiant &nbsp;</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail"  autocomplete="email" required autofocus>
    <br><br>
    <label for="inputPassword">Mot de passe &nbsp;</label>
    <input type="password" name="password" id="inputPassword"  autocomplete="current-password" required>
    <br><br>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <button class=" btn btn-primary" type="submit">Valider</button>
    <input class="btn btn-primary" type="button" onclick="sub_menu6()" value="Mot de passe oublié">
    <input class="btn btn-primary" type="button" onclick="sub_menu9()" value="Inscription">
    <br><br>
</div></div>
</form>
{% endblock %}
