{% extends 'base.html.twig' %} 

{% block title %}Mooc.soluceapp.com{% endblock %}

{% block body %}

<form method="post">
  
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
    {% endif %}
<div style="margin:20px"><div class="style25">
    <h4 >Confirmation de votre nouveau mot de passe</h4>
    {{form_start(PassForm)}}

    {{ form_row(PassForm.password, { label: 'Nouveau mot de passe'}) }}<br>
    <button type="submit" class="btn btn-primary btn-lg">Valider</button>
    {{form_end(PassForm)}}
    <br><br>
</div></div>
</form>
{% endblock %}
