{% extends 'base.html.twig' %} 

{% block title %}Mooc.soluceapp.com{% endblock %}

{% block body %}

<form method="post">
  
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
    {% endif %}
<div style="margin:20px"><div class="style25">
    <h3 class="h3 mb-3 font-weight-normal">Réinitialisation de votre mot de passe</h3>
    {{form_start(requestPassForm)}}
    {{ form_row(requestPassForm.email) }}
    {{ form_row(requestPassForm.plainPassword, { label: 'Nouveau mot de passe'}) }}<br>
    <button type="submit" class="btn btn-primary btn-lg">Valider</button><br>Un mail à confirmer vous sera envoyé.
    {{form_end(requestPassForm)}}
    <br><br>
</div></div>
</form>
{% endblock %}
