{% extends 'base.html.twig' %}

{% block title %}mooc.soluceapp.com{% endblock %}

{% block body %}
<div style="margin:20px"><div class="style25">
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h4>Inscription</h4>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        <fieldset>
            {{ form_row(registrationForm.nom) }}<br>
            {{ form_row(registrationForm.prenom) }}<br>
            {{ form_row(registrationForm.email) }}
        </fieldset>
        <br>
        {{ form_row(registrationForm.plainPassword, { label: 'Mot de passe'}) }}<br>
        {{ form_row(registrationForm.pseudo) }}<br>
        {{ form_row(registrationForm.classe) }}<br><br>
        {{ form_row(registrationForm.LuLesMentions) }}<br>
        <input type="button" class="btn btn-primary btn-lg" onclick="sub_menu34()" value="Mentions légales">
        <button type="submit" class="btn btn-primary btn-lg">Valider</button>

    {{ form_end(registrationForm) }}
</div></div>
{% endblock %}
