{% extends '@EasyAdmin/page/content.html.twig' %} 


{% block content %}
<head>
        <meta charset="UTF-8">
        <title>{% block title %}Mooc.soluceapp.com{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('styles/app.css') }}">
            <link rel="icon" type="image/png" href="{{asset('images/favicon.png') }}">
            <link rel="shortcut icon" href="{{asset('images/favicon.ico') }}">
        {% endblock %}
</head>

<div style="margin:20px"><div class="style16"><br>
<h4>Edition des évaluations</h4>
<br>

    {{ form_start(RecupnoteFormType, {'method': 'POST'}) }}
    De quelle classe voulez-vous les évaluations ?<br><br>
    {{ form_row(RecupnoteFormType.classe) }}
    {{ form_row(RecupnoteFormType.id_domain) }}<br>
    {{ form_row(RecupnoteFormType.submit) }}
    {{ form_end(RecupnoteFormType) }}
<br>
<div class="style16"><br>
<h4>Edition des évaluations</h4>

<div style="font-size: smaller">
{% for dutil in dutil %}
<ul style="list-style: none;margin: 0;">
    {% if  dutil.classe.id == idClasseVerif and dutil.iddomain.id == idDomaineVerif %}
        <li>{{ dutil.Prenom }} &nbsp; {{ dutil.Nom }}  Eco : {{ dutil.noteEvalEco }} /20
        {% if app.user.iddomain.accesFlashcardOutilGestion != true %}, Gestion : {{ dutil.noteEvalGestion }} /20{% endif %}
        {% if app.user.iddomain.accesFlashcardOutilGestion == true %}, Outil de gestion : {{ dutil.noteEvalOutilGestion }} /20</li>{% endif %}

    {% endif %}
</ul>
{% endfor %}
<br><br>
<div>
 {% if 'ChangepointsFormType' %}
{{ form_start(ChangeevalsFormType)}}
{{ form_row(ChangeevalsFormType.Nom)}}
{{ form_row(ChangeevalsFormType.points)}}<br>
{{ form_row(ChangeevalsFormType.submit)}}
{{ form_end(ChangeevalsFormType)}}
{% else %}
{% endif %}
<br>
</div></div></div>

{% endblock %}