{% extends '@EasyAdmin/page/content.html.twig' %} 


{% block content %}
<head>
        <meta charset="UTF-8">
        <title>{% block title %}Mooc.soluceapp.com{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('styles/app.css') }}">
            <link rel="icon" type="image/png" href="{{asset('images/favicon.png') }}">
            <link rel="shortcut icon" href="{{asset('images/favicon.ico') }}">
        {% endblock %}
</head>

<div style="margin:20px"><div class="style16"><br>
<h3>Edition des notes de participation</h3>
<br>

    {{ form_start(RecupnoteFormType, {'method': 'POST'}) }}
    De quelle classe voulez-vous les notes ?<br><br>
    {{ form_row(RecupnoteFormType.classe) }}
    {{ form_row(RecupnoteFormType.id_domain) }}<br>
    {{ form_row(RecupnoteFormType.submit) }}
    {{ form_end(RecupnoteFormType) }}
<br>
<div style="font-size: smaller">
{% for dutil in dutil %}
    {% if  dutil.classe.id == idClasseVerif and dutil.iddomain.id == idDomaineVerif %}
    <ul style="list-style: none;margin: 0;">
        <li>{{ dutil.Prenom }} &nbsp; {{ dutil.Nom }} : {{ dutil.Points }} pts=>{{ dutil.Note }}/4</li>
    </ul>
    {% endif %}
{% endfor %}
________________________<br><br>
<div>
 {% if 'ChangepointsFormType' %}
{{ form_start(ChangepointsFormType)}}
{{ form_row(ChangepointsFormType.Nom)}}
{{ form_row(ChangepointsFormType.points)}}<br>
{{ form_row(ChangepointsFormType.submit)}}
{{ form_end(ChangepointsFormType)}}
{% else %}
{% endif %}
<br><br>


</div></div>

{% endblock %}