{% extends '@EasyAdmin/page/content.html.twig' %} 


{% block content %}
<head>
        <meta charset="UTF-8">
        <title>{% block title %}Mooc.soluceapp.com{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('styles/app.css') }}">
            <link rel="icon" type="image/png" href="{{asset('images/favicon.png') }}">
            <link rel="shortcut icon" href="{{asset('images/favicon.ico') }}">
        {% endblock %}
</head>

<div style="margin:20px"><div class="style16"><br>
<h3>Réinitialiser les notes</h3>
<br>

{{ form_start(ReinitiaFormType, {'method': 'POST'}) }}
    Attention : Quelle classe voulez-vous réinitialiser ?<br>
    Mettre les points et notes à zéro.<br><br>
    
    {{ form_row(ReinitiaFormType.classe) }}
    {{ form_row(ReinitiaFormType.id_domain) }}
    {{ form_row(ReinitiaFormType.context) }}<br>
    
   
    {{ form_row(ReinitiaFormType.submit) }}
{{ form_end(ReinitiaFormType) }}
<br>
</div></div>


{% endblock %}