{% extends 'base.html.twig' %} 

{% block body %}
<section class="style2">

<div style="margin:20px"><div class="style25">

<h1>{{ scenario.nameScenario }}</h1>

<form method="post" action="{{ path('app_resultatchevaux') }}" class="style16">
    {% for i in 1..6 %}
        {% set question = attribute(scenario, 'question' ~ i) %}
        {% set answers = attribute(scenario, 'reponse' ~ i) %}

        {% if question %}
            <p>
                <label for="question{{ i }}">{{ question }}</label><br>
                <ol>
                    {% for answer in answers %}
                        <li>{{ answer }}</li>
                    {% endfor %}
                </ol>
                <input type="number" name="reponse{{ i }}" min="1" max="4">
            </p>
        {% endif %}
    {% endfor %}
    <button type="submit" class="btn btn-primary btn-lg">Vérifier</button><br><br>
</form>

<iframe src="{{lienChevaux}}" style="border:0px;width:120%;height:800px" ></iframe>

</div>
</section>
{% endblock %}


