<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Mooc.soluceapp.com{% endblock %}</title>
        {% block stylesheets %}
             <link href="{{asset('styles/bootstrap.min.css') }}" rel="stylesheet" >
            <link rel="stylesheet" href="{{asset('styles/app.css') }}">
            <link rel="icon" type="image/png" href="{{asset('images/favicon.png') }}">
            <link rel="shortcut icon" href="{{asset('images/favicon.ico') }}">
        {% endblock %}

        {% block javascripts %}
            <script src="{{asset('js/script1.js')}}"></script>
            <script src="{{asset('js/script2.js')}}"></script>
            {% if app.user == true%}
            <script src="{{asset('js/script3.js')}}"></script>
              {%endif%}
              {% if app.user and app.user.isVerified == true%}
            <script src="{{asset('js/script5.js')}}"></script>
              {%endif%}
              {% if app.user and app.user.isVerified == true%}
            <script src="{{asset('js/script4.js')}}"></script>
              {%endif%}
        {% endblock %}
    </head>


{% block body %}

<div class="container-grid-maitre"> 
    <main>
        <section class="style2">
            {% if randomCard is null %} 
            <div style="margin:10px">
                <div class="style25">
                    {% if choixCard == "eco" %}
                        <h1>Flash Card d'économie-droit</h1>
                    {% elseif choixCard == "gestion" %}
                        <h1>Flash Card de gestion-droit</h1>
                    {% elseif choixCard == "outilgestion" %}
                        <h1>Flash Card d'outil de gestion</h1>
                    {% else %}
                        <h1>Flash Card</h1>
                    {% endif %}
                    <p class="style23" >Consigne : Essayez de répondre dans votre tête. </p>
           
                </div>    
            </div>
            {% endif %}
                
            <article class="style27"  >
                {% if ClasseSelectionType%}
                <div class="container-flex-article" >
                {{ form_start(ClasseSelectionType) }}
                    {{ form_row(ClasseSelectionType.classe, {'attr': {'style': 'text-align: center'}}) }}
                    <br>
                    {{ form_row(ClasseSelectionType.submit) }}
                {{ form_end(ClasseSelectionType) }}
                </div>
                {% endif %}

                {% if choixCard == "eco" %}
                    <div class="container-flex-article">
                    {% if randomCard is not null %}
                        <div id="flashcard">
                            <p id="question"> {{ randomCard.RectoEco }}</p><br>
                            <p id="verso" style="display:none;"> {{ randomCard.VersoEco }}</p><br>
                            <a href="{{ path('app_flashcard_eco', { 'context': 'eco', 'resultatflash': '1' }) }}" id="correct-button" class="btn btn-primary" style="display: none;">Correct</a>
                            <button id="verify-button" class="btn btn-primary">Vérifier</button>
                            <a href="{{ path('app_flashcard_eco', { 'context': 'eco', 'resultatflash': '2' }) }}" id="review-button" class="btn btn-primary" style="display: none;">À revoir</a>
                            <a href="{{ path('home')}}" id="stop-button" class="btn btn-primary" >Arrêter</a>
                            <br>Note : {{resultatFlash}}/20 (entrainement)
                        </div>
                    </div>
                    {% endif %}
                {% endif %}

                {% if choixCard == "gestion" %}
                    <div class="container-flex-article">
                    {% if randomCard is not null %}
                        <div id="flashcard">
                            <p id="question"><strong></strong> {{ randomCard.RectoGestion }}</p><br>
                            <p id="verso" style="display:none;"><strong></strong> {{ randomCard.VersoGestion }}</p><br>
                            <a href="{{ path('app_flashcard_gestion', { 'context': 'gestion', 'resultatflash': '1' }) }}" id="correct-button" class="btn btn-primary" style="display: none;">Correct</a>
                            <button id="verify-button" class="btn btn-primary">Vérifier</button>
                            <a href="{{ path('app_flashcard_gestion', { 'context': 'gestion', 'resultatflash': '2' }) }}" id="review-button" class="btn btn-primary" style="display: none;">À revoir</a>
                            <a href="{{ path('home')}}" id="stop-button" class="btn btn-primary" >Arrêter</a>
                            <br>Note : {{resultatFlash}}/20 (entrainement)
                    {% endif %}
                    </div>
                {% endif %}

                {% if choixCard == "outilgestion" %}
                    <div class="container-flex-article">
                    {% if randomCard is not null %}
                        <div id="flashcard">
                            <p id="question"><strong></strong> {{ randomCard.RectoOutilGestion }}</p><br>
                            <p id="verso" style="display:none;"><strong></strong> {{ randomCard.VersoOutilGestion }}</p><br>
                            <a href="{{ path('app_flashcard_outil_gestion', { 'context': 'outilgestion', 'resultatflash': '1' }) }}" id="correct-button" class="btn btn-primary" style="display: none;">Correct</a>
                            <button id="verify-button" class="btn btn-primary">Vérifier</button>
                            <a href="{{ path('app_flashcard_outil_gestion', { 'context': 'outilgestion', 'resultatflash': '2' }) }}" id="review-button" class="btn btn-primary" style="display: none;">À revoir</a>
                            <a href="{{ path('home')}}" id="stop-button" class="btn btn-primary" >Arrêter</a>
                            <br>Note : {{resultatFlash}}/20 (entrainement)
                    {% endif %}
                    </div>
                {% endif %}

            <br></article>
        </section>
    </main>
</div>

<script>
    document.getElementById('verify-button').addEventListener('click', function () {
        // Masquer la question
        document.getElementById('question').style.display = 'none';

        // Afficher la réponse
        document.getElementById('verso').style.display = 'block';

        // Afficher les boutons "Correct" et "À revoir"
        document.getElementById('correct-button').style.display = 'inline-block';
        document.getElementById('review-button').style.display = 'inline-block';

        // Désactiver le bouton "Vérifier"
        this.disabled = true;
    });
</script>



<br>


<br><br>
</section>
</main>




</div>
{% endblock %}

</html>
