{% extends 'base.html.twig' %} 


{% block body %}



<div   class="container-grid-maitre" > 
<!-- Contenu informatif de la page -->


<div style="margin:20px"><div class="style25">
    Vous êtes connecté {{ app.user.pseudo }},  
{% if app.user and app.user.isVerified == false%}
    <br>mais il faut valider le compte par votre <br>boite mail pour accéder à la formation.<br>Cliquez deux fois ensuite sur les activités.
    {%include "partials/_flash.html.twig"%}
    {% elseif app.user and app.user.isVerified == true%}
        <br>
        <br>Vos points de participation sont de  : {{ app.user.points }}<br>
        {% if app.user.noteEvalEco == 0 %}Vous n'avez pas encore passé votre évaluation d'économie.
        {% else %}Votre note d'évaluation d'économie :  {{ app.user.noteEvalEco }}/20.
        {% endif %}
        <br>
        {% if app.user.iddomain.accesFlashcardOutilGestion != true %}
            {% if app.user.noteEvalGestion == 0 %}
            Vous n'avez pas encore passé votre évaluation de gestion.
            {% else %}
            Votre note d'évaluation de gestion :  {{ app.user.noteEvalGestion }}/20.
            {% endif %}
        {% endif %}

        {% if app.user.iddomain.accesFlashcardOutilGestion == true %}
            {% if app.user.noteEvalOutilGestion == 0 %}
            Vous n'avez pas encore passé votre évaluation d'outil de gestion.
            {% else %}
            Votre note d'évaluation d'outil de gestion :  {{ app.user.noteEvalOutilGestion }}/20.
            {% endif %}
        {% endif %}
        
{% endif %}
</div></div>
<article >
<div class="container-flex-article">

<!-- Explications principales -->

{% if app.user and app.user.isVerified == true%}

<main>
<section class="style2">
<h3 class="style11">Economie-Gestion-Droit</h3>

<div class="article-flex order8"><p class="style10"><br>
&ensp; &ensp; Dans le cadre de votre formation en économie-gestion-droit, je vous propose cette suite d'activités qui vous permettent d'obtenir des points
de participation. A chaque évaluation dont les devoirs maisons, vous disposez d'une note de participation sur 4 (ou plus). Vous gagnez 1 point de participation
par activité réussie si vous êtes connecté. Au-delà de 4 points de participation, vous gagnez 0.25 points par activité. Entrainez-vous aussi aux flashcards pour passer l'évaluation à réaliser pendant le semestre directement sur le site.
</div>
<!-- Image d'illustration de la page -->


</div>
</article>

<!-- Information essentielle sous forme d'image -->

<div class="style23">
<iframe  class="style22"  src="https://www.youtube.com/embed/i5nxiiJh76k" ></iframe>
</div>
{% endif %} 

<br>

<br><br>
</section>
</main>




</div>
{% endblock %}