<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Mooc.soluceapp.com{% endblock %}</title>
        <link rel"stylesheet" href="{{asset('styles/bootstrap.min.css') }}">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('styles/app.css') }}">
            <link rel="icon" type="image/png" href="{{asset('images/favicon.png') }}">
            <link rel="shortcut icon" href="{{asset('images/favicon.ico') }}">
        {% endblock %}

        {% block javascripts %}
            <script src="{{asset('js/script1.js')}}"></script>
            <script src="{{asset('js/script2.js')}}"></script>
        {% endblock %}
    </head>
    <body >
        {% block header %}{% include"partials/_header.html.twig" %}{% endblock %}
    
        {% block body %}{% endblock %}

        {% block footer %}{% include"partials/_footer.html.twig" %}{% endblock %}
    </body>
</html>